/* Values of a CSS variable */
:root {
    --bg: #11141a;
    --primary: #294d8e;
    --secondary: #101e37;
    --accent: #4976ca;
    --text: #eff3fa;
  }

  :root {
    --h1: 3rem;
    --h2: 2rem;
    --subtitle: 1.5rem;
    --p: 1.125rem;
}


/* Star selector: targets the entire content of the html file */
* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

html {
    scroll-behavior: smooth;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 12%;
    gap: 4em;
    width: auto !important;

    font-family: "Roboto", sans-serif;
    color: var(--text);

    background-image: linear-gradient(90deg, #11141a, #151d29);
    scroll-behavior: smooth;
}

header {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navbar */
.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
  color: var(--text);
  margin-left: 60px;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
}

/* hero */
.hero-container {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4.5rem;
  }

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #ecf0f9;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #ecf0f9;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ecf0f9;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ecf0f9;
}

.hero-container .hero-text h3 {
    margin-top: 4rem;
    margin-bottom: 4rem;

    font-size: 1.5rem;
    font-weight: 300;
    color: #ecf0f9;
}

.hero-container .hero-gradient-text {
  background: linear-gradient(45deg, #294d8e, #4976ca);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-container .hero-text .button {
    font-size: 1.3rem;
    font-weight: 400;
    color: #ecf0f9;

    display: inline-block;
    border-radius: .5rem;
    
    margin-right: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1.2rem 2rem;
    
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}

/* hero buttons */
.hero-container .hero-text .button1 {
  background-color: var(--primary);
  animation: float1 3s ease-in-out infinite;
}

.hero-container .hero-text .button2 {
  background-color: var(--secondary);
}

.hero-container .hero-text .button:hover {
  box-shadow: 0 0rem 2rem rgba(73, 118, 202, 35%);
}

.hero-container .hero-img {
    animation: float2 3s ease-in-out infinite;
}

.hero-container .more-info {
    animation: scroll 3s ease-in-out infinite;
}

/* explanation */

.explanation .ex-1{
  margin-top: 20rem;
  text-align: center;
}


/* styles */
@keyframes scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes float1 {
    0% {
      transform: translatey(0rem);
    }
    50% {
      transform: translatey(-.4rem);
    }
    100% {
      transform: translatey(0rem);
    }
  }

@keyframes float2 {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-1rem);
  }
  100% {
    transform: translatey(0rem);
  }
}