/* Values of a CSS variable */
:root {
    --bg: #11141a;
    --primary: #294d8e;
    --secondary: #101e37;
    --accent: #4976ca;
    --text: #eff3fa;
  }

  :root {
    --h1: 48px;
    --h2: 32px;
    --h3: 24px;
    --p: 18px;
}

/* Star selector: targets the entire content of the html file */
* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 12%;

    font-family: "Roboto", sans-serif;
    color: var(--text);

    background-image: linear-gradient(90deg, #11141a, #151d29);
    scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: var(--h3);
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
}

nav .bar {
    list-style: none;
    padding: 0;
    display: flex;
}

nav .bar a{
    margin-left: 60px;
    font-size: var(--h3);
    font-weight: 300;
    color: var(--text);
    text-decoration: none;
}

/* Toolbar */
/* .toolbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 8%;
  width: 50%;
  margin-bottom: 1%;
  border-radius: 3rem;
  transform: translateX(-50%);
  background: #242e41;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  margin: 0 1rem; 
}

.icon i {
  margin-top: 100%;
  font-size: 24px;
  color: white;
} */

 
/* Hero */
.hero .container {
  margin-top: 72px;
  display: grid;
  grid-template-columns: 1fr auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ecf0f9;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #ecf0f9;
}

h3 {
font-size: 1.5rem;
font-weight: 300;
color: #ecf0f9;
}

h4 {
font-size: 1.2rem;
font-weight: 300;
color: #ecf0f9;
}

.hero .container .introduction .gtext {
  background: linear-gradient(45deg, #294d8e, #4976ca);
  -webkit-background-clip: text;
  color: transparent;
}

.hero .container .introduction h3 {
  margin-top: 4rem;
  margin-bottom: 4rem;

  font-size: 1.5rem;
  font-weight: 300;
  color: #ecf0f9;
}

.hero .container a {
  display: inline-block;
  margin-right: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ecf0f9;
  border: none;
  border-radius: .8rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}


.hero .container .introduction .button1 {
  background-color: #294d8e;
  animation: float1 3s ease-in-out infinite;
}

.hero .container .introduction .button2 {
  background-color: #101e37;
}

.hero .container .introduction .button1:hover {
  box-shadow: 0 0rem 2rem rgb(73, 118, 202, 40%);
}

.hero .container .introduction .button2:hover {
  box-shadow: 0 0rem 2rem rgba(61, 98, 167, 40%);
}

.hero .container .introduction .scroll-more {
  animation: scroll 3s ease-in-out infinite;
}

.hero .container .graphic {
  animation: float2 3s ease-in-out infinite;
}

/* About */
.about .container {
  

}

/* Get Started */

/* Statistics */

/* Styles */
@keyframes scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes float1 {
    0% {
      transform: translatey(0rem);
    }
    50% {
      transform: translatey(-.4rem);
    }
    100% {
      transform: translatey(0rem);
    }
  }

@keyframes float2 {
  0% {
    transform: translatey(0rem);
  }
  50% {
    transform: translatey(-1rem);
  }
  100% {
    transform: translatey(0rem);
  }
}